*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(black.jpg);
    background-size: cover;
    justify-content: center;
    text-align: center;

    
}

h1{
    color: white;
    font-size: 25px;
}

h2{
    color: white;
    font-size: 25px;
}
h3{
    color: white;
    font-size: 25px;
}
img {
    text-align: center; 
  }

  p{
    color: aliceblue;
    line-height: 20px;
    text-align: justify;

}